/* resete no css padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variaveis do css */
:root{
    --cor-primaria:rgb(14, 14, 15);
    --cor-secundaria:black;
    --cor-tercearia:rgb(23, 24, 24);
}

/* elemento body do view port */
body{
    width: 100%;
    height: 100vh;

    background-color:#73ed08 ;

    display: flex;
    align-items: center;
    justify-content: center;

}

/* personalizar */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(7, 214, 233);

    width: 20rem;

    padding-block: 1.5rem;

    border-radius: 10px;

    gap: 1.5rem;

    box-shadow: 0px 0px 10px var(--cor-primaria);
}

/*imagem*/
.foto img {
    width: 250px;
    height: 250px;

    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--cor-primaria);

    transition: 0.5s;
}

.foto img:hover {
    
    box-shadow: 0px 0px 10px var(--cor-tercearia);
    cursor: pointer;
    transform: scale(1.05);
}

label{
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-primaria);
}

/* sociais */
.redes-sociais{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}

.redes-sociais img {
    width: 30px;
}

.redes-sociais img:hover {
    transform: scale(1.10);
}